.Cart{
    background-color: black;
    min-height:100vh;
}
.Cart-Header{
    padding-top: 53px;
}
.Header-Title{
    text-align:center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.Cart-Main{
    margin-top: 38px;
    padding-bottom:102px;
    border-bottom: 1px solid #D58C51;
}
.Cart-Wrapper{
    box-sizing: border-box;
    margin: 0 auto;
}
.Cart-Footer{
    margin: 28px auto;
    width: 59%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.Cart-Footer_Wrapper{

}
.Cart-Footer__Total{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.Cart-Footer__Amount{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #D58C51;
}
.Cart-Footer_Pay{
    width: 200px;
    height: 42px;
    background: #D58C51;
    padding: 12px 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
    border: none;
    outline: none;
    cursor:pointer;
}
