.Wrapper{
    display:flex;
    margin: 0 auto;
    align-items: center;
    width:59%;
    justify-content: space-between;
}
.Cart-Item__Info-Wrapper{
    display:flex;
    align-items:center;
}
.Wrapper:not(:first-child){
    margin-top:31px;
}
.Cart-Item__picture{
    width:122px;
    height:122px;
}
.Cart-Item__Name-Wrapper{
    display:flex;
    flex-direction: column;
    margin-left: 90px;
    width:310px
}
.Cart-Item__name{
    display:block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    text-align:left;
}
.Cart-Item__amount{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #D58C51;
}
.Cart-Item__cost{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #D58C51;
}
.Cart-Item__remove{
    margin-left:15px;
    border-radius: 100%;
    width:30px;
    height:30px;
    color: #D58C51;
    background-color: black;
    outline:none;
    border: 1px solid #D58C51;
}