a:not([class]) {
    text-decoration-skip-ink: auto;
}
a{
    text-decoration: none;
}
.main{
    background-color: black;
}
.header{
    padding: 54px 70px 0 70px;
    display:flex;
    justify-content: space-between;
}
.Total__Items{
    display:flex;
    flex-direction: column;
    color:white;
    margin-right:34px;

}
.Cart-Wrapper{
    display:flex;
    justify-content: space-between;
    position: sticky;
    top: 50px;
}
.Total__Icon{
    padding:14px;
    border-radius:100px;
    background-color: #D58C51;
}
.Wrapper{
    margin-top:81px;
    padding: 0 70px 67px 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.Store__Title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
}