.Store-Item{
    border: 1px solid #D58C51;
    box-sizing: border-box;
    padding: 43px 21px 36px 21px;
    width:312px;
    margin-bottom:35px;
    color: white;
}
.Item__Information{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    height:200px;
}
.Item__Title{
    margin-top:31px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}
.Store-Item:hover{
    color: #D58C51;
}
.StoreItem:hover
.Item__Description{
    margin-top:13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}
.Item__Footer{
    display:flex;
    justify-content: space-between;
    margin-top:31px;
}
.Item__Cost{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}
.Item__Amount{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}
.AddToCart{
    width:30px;
    height:30px;
    border-radius:100%;
    font-size: 20px;
    text-align:center;
    outline:none;
    border:none;
    cursor:pointer;
}
.Wrapper{

}
.Item__Cost-Wrapper{

}