*{
    margin:0;
    padding:0;

}
.main{
    height: calc(100vh - 160px);
    margin: 0 auto;
    background-image: url('../../../images/mainBackground.png');
    background-size: cover;
    background-position: bottom;
    padding-top:160px;
}
.Authorization-Block{
    background-color: white;
    width: 460px;
    margin:0 auto;
}
.Authorization-Title{
    padding-top:36px;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 38px;
    /* identical to box height */

    text-transform: uppercase;

    color: #161516;
}