.Authorization-form{
    margin: 36px auto;
    width: 91.30%;
    background-color:white;
    height: calc(340px - 74px);
}
.Login__Input{
    width:100%;
    height:39px;
    border: 1px solid #D58C51;
    box-sizing: border-box;
    border-radius: 61px;
    padding:9px 18px;
    outline:none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #161516;
}
.Password__Input{
    width:100%;
    height:39px;
    margin-top:15px;
    border: 1px solid #D58C51;
    box-sizing: border-box;
    border-radius: 61px;
    padding:9px 18px;
    outline:none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #161516;
}
.Authorization__Accept-News{
    margin-top:15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #301411;
}
.Accept-Mark{
    margin-right:9px;
}
.Accept-Mark label{

}